#python version 3.9.12

#Interface
ttkwidgets==0.12.1

#Libraries needed
opencv-contrib-python==4.5.5.64
opencv-python==4.6.0.66 --global-option='--user'
Pillow==9.0.1
imutils==0.5.4
numpy==1.22.3
matplotlib==3.5.1
scipy==1.8.0
soupsieve
BeautifulSoup4
pygubu


